<!DOCTYPE html>
<html>
<head>
	{% block head %}
		<link rel="stylesheet" href="/static/css/styles.css">
		<script src="/static/js/scripts.js"></script>
		<title>{% block title %}{% endblock %}</title>
	{% endblock %}
</head>
<body>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class="flashes">
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	
	<div id="content">{% block content %}{% endblock %}</div>
	
	<div id="footer">
		{% block footer %}
			&copy; Copyright 2015 T&amp;W.
		{% endblock %}
	</div>
</body>
</html>