<!DOCTYPE html>
<html>
<head>
	{% block head %}
		<link rel="shortcut icon" href="/static/img/favicon.ico">
		<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/styles.css">
		<script src="//code.jquery.com/jquery-latest.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/scripts.js"></script>
		<title>{% block title %}Santa Cruz Aquaponics{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	{% endblock %}
</head>
<body>
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			<div class="container alert alert-{{ messages[0][0] }} alert-dismissible fade in" id="flash">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<ul class="flashes">
					{% for category,message in messages %}
						<li>{{ message }}</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	{% endwith %}
	
	{% set navbar = [
			('/', 'home', 'Home'),
			('/users', 'users', 'Users'),
			('/measurements', 'measurements', 'Measurements')
		]
	%}
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Aquaponics</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					{% for href, id, label in navbar %}
						<li {% if id == active_page %} class="active" {% endif %}>
							<a href="{{ href }}">{{ label }}</a>
						</li>
					{% endfor %}
				</ul>
				{% if current_user.is_authenticated %}
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
								Signed in as {{ current_user.username }}<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/logout">Logout</a></li>
							</ul>
						</li>
					</ul>
				{% endif %}
			</div>
		</div>
	</nav>
	
	<div class="container" id="content">{% block content %}{% endblock %}</div>
	
	<footer class="footer">
		<div class="container">
			{% block footer %}
				<p>&copy; Copyright 2015 T&amp;W.</p>
			{% endblock %}
		</div>
	</footer>
</body>
</html>