{% extends 'base.html' %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="/static/css/jquery.dataTables.min.css">
	<script src="/static/js/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function() {
			$('#measurements-table').DataTable( {
				"autoWidth": false,
				"columnDefs": [ {
					"targets": [4],
					"searchable": false,
					"orderable": false
				}, {
					"targets": [0],
					"visible": false
				} ],
				"lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
				"order": [[1, "desc"]],
				"pageLength": 10,
				"pagingType": "full_numbers"
			});
		});
	</script>
{% endblock %}

{% set active_page = 'measurements' %}

{% block content %}
	<h2 class="page-header">Measurements</h2>
	
	{# TODO: make this a modal window maybe? #}
	<div class="container-fluid">
		<div class="dropdown pull-left">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
				Add Measurement<span class="caret"></span>
			</a>
			<form class="dropdown-menu dropdown-form" action="/measurements" method="POST">
				{# TODO: make datetime more browser/user friendly - multi select fields #}
				<input class="form-control" type="datetime-local" step="1" name="time" required autofocus>
				<input class="form-control" type="number" step="any" name="ph" placeholder="pH" required>
				<button class="btn btn-primary center-block" type="submit">Add</button>
			</form>
		</div>
		<div class="dropdown pull-right">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
				Upload CSV<span class="caret"></span>
			</a>
			<form class="dropdown-menu dropdown-form" id="upload-csv-dropdown" action="/csv-upload" method="POST" enctype="multipart/form-data">
				<input type="file" name="csv" required>
				<button class="btn btn-primary center-block" type="submit">Upload</button>
			</form>
		</div>
	</div>
	
	<table class="display" id="measurements-table">
		<thead>
			<tr>
				<th class="col-md-1">ID</th>
				<th>Time (Pacific)</th>
				<th>Created by</th>
				<th class="col-md-1">pH</th>
				{% if current_user.isAdmin() %}
					<th class="col-md-1"></th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for m in measurements %}
				<tr>
					<td>{{ m.id }}</td>
					<td>{{ m.timestamp.strftime("%b %d, %Y. %I:%M:%S %p").replace(' 0', ' ') }}</td>
					<td>{{ users[(m.user_id)] }}</td>
					<td>{{ m.ph }}</td>
					{% if current_user.isAdmin() %}
						<td>
							<form id="delete-measurement" action="/measurement-delete" method="POST">
								<input type="hidden" value="{{ m.id }}" name="measurementid">
								<input type="submit" value="Delete" class="btn btn-danger btn-xs center-block">
							</form>
						</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}