{% extends 'base.html' %}

{% block content %}
	<h2 class="page-header">Measurements</h2>
	
	{# TODO: make this a modal window maybe? #}
	<div class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
			Add Measurement<span class="caret"></span>
		</a>
		<form class="dropdown-menu" id="add-measurement-dropdown" action="/measurements" method="POST">
			{# TODO: make datetime more browser/user friendly #}
			<input class="form-control" type="datetime-local" step="1" name="time" required autofocus>
			<input class="form-control" type="number" step="any" name="ph" placeholder="pH" required>
			<button class="btn btn-primary center-block" type="submit">Add</button>
		</form>
	</div>
	
	{# TODO: use datatables jquery plugin! #}
	<table class="table table-bordered table-striped" id="measurements-table">
		<thead>
			<tr>
				<th class="col-md-1">#</th>
				<th>Created by</th>
				<th>Time (Pacific)</th>
				<th class="col-md-1">pH</th>
				{% if current_user.isAdmin() %}
					<th class="col-md-1"></th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for m in measurements %}
				<tr>
					<td>{{ loop.index }}</td>
					<td>{{ users[(m.user_id)] }}</td>
					<td>{{ m.timestamp.strftime("%b %d, %Y. %I:%M:%S %p").replace(' 0', ' ') }}</td>
					<td>{{ m.ph }}</td>
					{% if current_user.isAdmin() %}
						<td>
							<form id="delete-measurement" action="/measurement-delete" method="POST">
								<input type="hidden" value="{{ m.id }}" name="measurementid">
								<input type="submit" value="Delete" class="btn btn-danger btn-xs center-block">
							</form>
						</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}