{% extends 'base.html' %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="/static/css/jquery.dataTables.min.css">
	<script src="/static/js/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function() {
			$('#users-table').DataTable( {
				"autoWidth": false,
				"columnDefs": [ {
				{% if current_user.isAdmin() %}
					"targets": [2],
					"searchable": false,
					"orderable": false
				}, {
				{% endif %}
					"targets": [0],
					"visible": false
				} ],
				"lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
				"pageLength": 10,
				"pagingType": "full_numbers"
			});
		});
	</script>
{% endblock %}

{% set active_page = 'users' %}

{% block content %}
	<h2 class="page-header">Users</h2>
	
	{% if current_user.isAdmin() %}
	{# TODO: make this a modal window maybe? #}
		<div class="container-fluid">
			<div class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
					Add User<span class="caret"></span>
				</a>
				<form class="dropdown-menu dropdown-form" action="/users" method="POST">
					<input class="form-control" type="username" name="username" placeholder="Username" required autofocus>
					<input class="form-control" type="password" name="password" placeholder="Password" required>
					<button class="btn btn-primary center-block" type="submit">Add</button>
				</form>
			</div>
		</div>
	{% endif %}
	
	<table class="display" id="users-table" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th class="col-md-1">ID</th>
				<th>Username</th>
				{% if current_user.isAdmin() %}
					<th class="col-md-1"></th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.username }}</td>
					{% if current_user.isAdmin() %}
						<td>
							{% if not user.isAdmin() %}
								<form id="delete-user" action="/user-delete" method="POST">
									<input type="hidden" value="{{ user.id }}" name="userid">
									<input type="submit" value="Delete" class="btn btn-danger btn-xs center-block">
								</form>
							{% endif %}
						</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}